
<div class="jumbotron text-center">
	<h1>Welcome to Future Big Leaguers</h1>
	<h3>A membership site where players can submit their videos and stats for coaches and scouts.</h3>
</div>


<%= link_to 'About', '/about' %>